.modal-show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.bg-black {
  transition: background-color 0.3s ease;
}

.scale-100 {
  transform: scale(1);
}

.scale-90 {
  transform: scale(0.9);
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

// animate,
// premiere,
// css,
// html,
// js,
// node,
// redux,
// tailwind,
// mongo,
// next,
// postman,
// react,

// import animate from "@/assets/skills/icons8-adobe-animate-100.png";
// import premiere from "@/assets/skills/icons8-adobe-animate-100.png";
// import css from "@/assets/skills/icons8-css-100.png";
// import html from "@/assets/skills/icons8-html-100.png";
// import js from "@/assets/skills/icons8-javascript-100.png";
// import node from "@/assets/skills/icons8-nodejs-100.png";
// import redux from "@/assets/skills/icons8-redux-100.png";
// import tailwind from "@/assets/skills/icons8-tailwind-css-100.png";
// import mongo from "@/assets/skills/mongo.png";
// import next from "@/assets/skills/nextjs-icon-dark-background.png";
// import postman from "@/assets/skills/postman.png";
// import react from "@/assets/skills/react.png";
